<nav class="navbar navbar-inverse">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Cataloge App</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        {% if logged == None %}
          <li>
            <div id="signInButton" style="margin-top: 9px;">
<span class="g-signin"
 data-scope="openid email"
 data-clientid="427322165148-81ou4a7b0fb9hmblbccjgkiogdg46b1m.apps.googleusercontent.com"
 data-redirecturi="postmessage"
 data-accesstype="offline"
 data-cookiepolicy="single_host_origin"
 data-callback="signInCallback"
 data-approvalprompt="force">
</span>
</div>
<div id="result">
  <div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Login Failed!</h4>
      </div>
      <div class="modal-body">
        <p>failed to connect to server and complete your login process, please check your connection and try again later</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>
          </li>
        {% endif %}

        {% if logged == True %}
          <li>
            <a class="btn btn-primary" href="/logout">Logout</a>
          </li>
        {% endif %}
        <!--<li><a href="#">Home</a></li>-->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>